#compiled code
##############
*.pyc


#scripts
##############



# Logs and databases 
####################
*.log
*.csv
*.out


#config
#######
config.ini
*.ini
conf/

#other
#######
go_basshunter.sh


#directory
ss/
#
*.swp
*.swo
